<div class="container-sm">
  <%= link_to request.referer do %>
    <i class="fa-solid fa-arrow-left btn-grey-round btn-back"></i>
  <% end %>
  <div class="session-form">
    <div class="banner-form-trip">
          <h2 class="text-center">Alterar dados</h2>
           <%= simple_form_for @trip do |f| %>
            <%= f.input :name,
                        label: 'Novo nome:' %>
            <%= f.input :destination,
                        label: 'Alterar destino:' %>
            <%= f.input :start_date,
                        as: :string,
                        label: 'Data de ida:',
                        start_year: Date.today.year,
                        label_html: { class: "text-secondary" },
                        input_html: { data: { controller: "flatpickr-date" } }  %>
            <%= f.input :end_date,
                        label: 'Data de volta:',
                        start_year: Date.today.year,
                        as: :string,
                        label_html: { class: "text-secondary" },
                        input_html: { data: { controller: "flatpickr-date" } }  %>
            <%= f.input :budget_per_user,
                        label: 'Gasto por viajante:',
                        hint: 'Caso queira, pode deixar em branco! 😉' %>
            <div class="form-actions">
              <%= f.submit class: 'button-lg-login' %>
          <% end %>
    </div>
  </div>
</div>
