<div class="container-sm-modal">
  <div class="session-form">
    <div class="banner-form-trip">
          <h2 class="text-center">Alterar dados</h2>
           <%= simple_form_for @trip do |f| %>
            <%= f.input :name,
                        label: 'Novo nome:' %>
            <%= f.input :destination,
                        label: 'Alterar destino:' %>
            <%= f.input :start_date,
                        label: 'Data de ida:',
                        start_year: Date.today.year %>
            <%= f.input :end_date,
                        label: 'Data de volta:',
                        start_year: Date.today.year %>
            <%= f.input :budget_per_user,
                        label: 'Gasto por viajante:',
                        hint: 'Caso queira, pode deixar em branco! 😉' %>
            <div class="form-actions">
              <%= f.submit class: 'button-lg-login' %>
          <% end %>
    </div>
  </div>
</div>
