<div class="header-back-title-action mt-4 mb-4">

  <%= link_to root_path do %>
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #7a7a7a;"></i>
  <% end %>

    <h1 class="text-center">Minhas viagens</h1>

  <%= link_to new_trip_path do %>
    <i class="fa-solid fa-circle-plus fa-2xl btn-plus"></i>
  <% end %>
</div>

<div class="container-trip">
  <% @trips.order(:updated_at).each do |trip| %>
      <div class="card-trip">
        <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.2)), <%= trip.photo.present? ? "url('#{cl_image_path trip.photo.key}')" : "asset-url('trip-banner-placeholder.jpg')" %>;">
          <h2 class="text-white"><%= trip.destination %></h2>
        </div>

        <div class="card-body">
          <div class="trip-edit-delete">
            <span class="tag tag-purple">Viagem</span>
            <div>
              <%= link_to edit_trip_path(trip) do %>
                <i class="fa-regular fa-pen-to-square fa-lg" style="color: #8c8c8c;"></i>
              <% end %>
              <%= link_to trip_path(trip),
                          data: { turbo_method: :delete,
                                  turbo_confirm: "Deseja deletar #{trip.name}?"} do %>
                <i class="fa-solid fa-trash-can fa-xl ms-2" style="color: #DF7861;"></i>
              <% end %>
            </div>
          </div>


        <h4><%= trip.name %></h4>
        <p>Início: <%= trip.start_date.strftime('%d/%m/%Y') %></p>
        <p>Fim: <%= trip.end_date.strftime('%d/%m/%Y') %></p>
        <div class="user">
          <% if current_user.photo.present? %>
            <%= image_tag current_user.photo, class: 'avatar' %>
          <% else %>
            <%= image_tag "user-placeholder.png", class: 'avatar' %>
          <% end %>
          <div class="user-info">
            <h5><%= trip.owner.first_name %></h5>
            <small>Criado em: <%= trip.updated_at.strftime('%d/%m/%Y') %></small>
          </div>
        </div>

        <div class="form-actions-buttons">
          <%= link_to 'Detalhes', trip_path(trip), class: 'button-lg w-100 text-center' %>
        </div>
        </div>
      </div>
  <% end %>
</div>
