<div class="container-sm">
  <div class="session-form">
    <div class="banner-form-trip">
        <h2 class="text-center">Vamos viajar?</h2>
          <%= simple_form_for @trip do |f| %>
            <%= f.input :name,
                        label: 'Dê um nome para sua viagem:' %>
            <%= f.input :destination,
                        label: 'Para onde você vai?' %>
            <%= f.input :start_date,
                        label: 'Data de ida:',
                        as: :string,
                        label_html: { class: "text-secondary" },
                        input_html: { data: { controller: "flatpickr-date" } }  %>
            <%= f.input :end_date,
                        label: 'Data de volta:',
                        as: :string,
                        label_html: { class: "text-secondary" },
                        input_html: { data: { controller: "flatpickr-date" } } %>
            <%= f.input :photo,
                        as: :file,
                        label: 'Foto de capa:',
                        input_html: { multiple: false } %>
            <div class="form-actions-buttons">
              <%= f.submit class: "button-lg-login" %>
            </div>
          <% end %>
    </div>
  </div>
</div>
