<div class="container">
  <h1 class="my-3"><%= @trip.name %></h1>

  <%# Flex row between sessions %>
  <div class="row gap-3">
    <div class="col-12">
      <div class="trip-session">
        <h2>Detalhes da viagem</h2>
        <p>Destino: <%= @trip.destination %></p>
        <p>Início: <%= @trip.start_date %></p>
        <p>Fim: <%= @trip.end_date %></p>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <%# Tickets %>
      <div class="trip-session">
        <h2><%= link_to 'Passagens', trip_tickets_path(@trip), class: 'text-decoration-none' %></h2>
        <% if @trip.tickets.present? %>
          <ul class="list-unstyled">
            <% @trip.tickets.order(:updated_at).take(2).each do |ticket| %>
              <li class="trip-ticket-card">
                <div class="ticket-card-location">
                  <div class="ticket-card-location-info">
                    <!-- Funciona melhor com a sigla do aeroporto -->
                    <p class="ticket-card-location-name"><%= ticket.origin.first(3) %></p>
                    <p class="ticket-card-location-time"><%= ticket.start_time.strftime("%H:%M") %></p>
                  </div>
                  <div>
                    <span><i class="fa-solid fa-plane"></i></span>
                    <p><%= "#{ticket.duration[:hours]}h" %><%= "#{ticket.duration[:minutes]}" unless ticket.duration[:minutes].blank? %></p>
                  </div>
                  <div class="ticket-card-location-info">
                    <p class="ticket-card-location-name"><%= ticket.destination.first(3) %></p>
                    <p class="ticket-card-location-time"><%= ticket.end_time.strftime("%H:%M") %></p>
                  </div>
                </div>
                <div class="ticket-card-details">
                  <div class="ticket-card-details-item">
                    <p><strong>Assento:</strong></p>
                    <p><%= ticket.seat || 'Não selecionado' %></p>
                  </div>
                  <div class="ticket-card-details-item">
                    <p><strong>Portão:</strong></p>
                    <p><%= ticket.gate || 'Não informado' %></p>
                  </div>
                </div>
                <!-- Essa div precisa ser editada pra ficar melhor no card -->
                <div class="ticket-card-user-info">
                  <p>Acidionado por:</p>
                  <%= image_tag 'user-placeholder.png', alt: current_user.first_name, class: 'avatar' %>
                </div>
                <div class="ticket-card-options">
                  <%= link_to edit_ticket_path(ticket), class: 'trip-card-button' do %>
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                  <% end %>
                  <%= link_to ticket_path(ticket), class: 'trip-card-button', data: { turbo_method: :delete, turbo_confirm: 'Deseja deletar a passagem?' } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
                <h4 class="ticket-card-price"><%= number_to_currency ticket.price, unit: 'R$ ', precision: 2, separator: ',', delimiter: '.' %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div>
            <p>Não há passagens adicionadas à sua viagem.</p>
            <%= link_to 'Nova passagem', new_trip_ticket_path(@trip), class: 'btn btn-primary rounded-5'  %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <%# Accommodations %>
      <div class="trip-session">
        <h2><%= link_to 'Acomodações', trip_accommodations_path(@trip), class: 'text-decoration-none' %></h2>
        <% if @trip.accommodations.present? %>
          <ul>
            <% @trip.accommodations.order(:updated_at).take(2).each do |accommodation| %>
              <li>
                <h5><%= accommodation.name %></h5>
                <p>Espaço para <%= accommodation.capacity %> pessoas</p>
                <p>Tipo: <%= accommodation.category %></p>
                <p><%= link_to 'Visitar site', accommodation.url, target: '_blank', class: 'btn btn-primary rounded-5' %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div>
            <p>Não há acomodações adicionadas à sua viagem.</p>
            <%= link_to 'Nova acomodação', new_trip_accommodation_path(@trip), class: 'btn btn-primary rounded-5'  %>
          </div>
        <% end %>
      </div>
    </div>

    <%# Tasks %>
    <div class="col-12 col-md-5">
      <div class="trip-session">
        <h2>Tarefas</h2>
        <% if @trip.tasks.present? %>
          <ul class="list-unstyled my-3">
            <% @trip.tasks.order(:done, :description).each do |task| %>
              <li>
                <div class="form-check" data-controller='task'>
                  <input class="form-check-input" type="checkbox" name="done" id="<%= "task-#{task.id}" %>"
                        <%= "checked" if task.done? %>
                        data-action="click->task#toggleDone"
                        data-task-target="checkbox"
                        data-id="<%= task.id %>">
                  <label data-task-target="label"
                        class="form-check-label"
                        for="<%= "task-#{task.id}" %>">
                        <% if task.done? %>
                          <s><%= task.description %></s>
                        <% else %>
                          <%= task.description %>
                        <% end %>
                  </label>
                  <%= link_to task_path(task), data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>Você ainda não adicionou tarefas para esta viagem, <%= current_user.first_name %>.</p>
        <% end %>
        <%= simple_form_for [@trip, @task] do |f|%>
          <%= f.input :description, as: :string,
                      label: 'Descrição da tarefa:',
                      class: 'form-control' %>
          <div class='input-group-append'>
            <%= f.submit 'Criar', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
