<%# Trip banner %>
<div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), <%= @trip.photo.present? ? "url('#{cl_image_path @trip.photo.key}')" : "asset-url('trip-banner-placeholder.jpg')" %>;">
<%# <div class="trip-banner"> %>
<%= link_to trips_path do %>
  <i class="fa-solid fa-arrow-left btn-white-round btn-back"></i>
<% end %>
<button type="button" class="btn-white-round btn-new-member" data-bs-toggle="modal" data-bs-target="#new_member_modal">
    <i class="fa-solid fa-user-plus"></i>
</button>
<h1 class="my-3"><%= @trip.name %></h1>
  <div class="row my-5 gy-3 justify-content-between">
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-solid fa-location-dot"></i>
        <p><%= @trip.destination %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-regular fa-calendar-days"></i>
        <p><%= "#{(@trip.end_date - @trip.start_date).to_i} dias" %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-solid fa-people-group"></i>
        <p><%= @trip.members.present? ? "#{@trip.members.count + 1} membros" : "Individual" %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <% if @trip.budget_per_user.present? %>
          <p><%= number_to_currency @trip.budget_per_user, unit: 'R$ ', precision: 2, separator: ',', delimiter: '.' %></p>
        <% else %>
          <p>Não informado</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%# Flex row between sections %>
  <div class="row gap-3">
    <div class="col-12 col-md-5">
      <%# Tickets %>
      <div class="trip-section">
        <h2><%= link_to 'Passagens', trip_tickets_path(@trip), class: 'text-decoration-none' %></h2>
        <%= link_to new_trip_ticket_path(@trip), class: 'trip-section-btn-add' do %>
          <i class="fa-solid fa-circle-plus fa-2xl btn-plus"></i>
        <% end %>
        <% if @trip.tickets.present? %>
          <ul class="trip-card-group">
            <% @trip.tickets.order(:updated_at).take(4).each do |ticket| %>
              <li class="trip-ticket-card">
                <div class="ticket-card-location">
                  <div class="ticket-card-location-info">
                    <!-- Funciona melhor com a sigla do aeroporto -->
                    <p class="ticket-card-location-name"><%= ticket.origin.first(3) %></p>
                    <p class="ticket-card-location-time"><%= ticket.start_time.strftime("%H:%M") %></p>
                  </div>
                  <div>
                    <span><i class="fa-solid fa-plane"></i></span>
                    <p><%= "#{ticket.duration[:hours]}h" %><%= "#{ticket.duration[:minutes]}" unless ticket.duration[:minutes].blank? %></p>
                  </div>
                  <div class="ticket-card-location-info">
                    <p class="ticket-card-location-name"><%= ticket.destination.first(3) %></p>
                    <p class="ticket-card-location-time"><%= ticket.end_time.strftime("%H:%M") %></p>
                  </div>
                </div>
                <div class="ticket-card-details">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-3">
                      <%= link_to ticket_path(ticket) do %>
                        <i class="fa-solid fa-circle-info fa-2xl" style="color: #878787;"></i>
                      <% end %>
                    </div>
                    <div class="col-9">
                      <div class="ticket-card-details-item">
                        <p><strong>Assento:</strong></p>
                        <p><%= ticket.seat || 'Não selecionado' %></p>
                      </div>
                      <div class="ticket-card-details-item">
                        <p><strong>Portão:</strong></p>
                        <p><%= ticket.gate || 'Não informado' %></p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Essa div precisa ser editada pra ficar melhor no card -->
                <div class="ticket-card-user-info">
                  <div class="profile-tickets">
                    <p>Adicionado por:</p>
                    <% if current_user.photo.present? %>
                      <%= image_tag current_user.photo, class: 'avatar' %>
                    <% else %>
                      <%= image_tag "user-placeholder.png", class: 'avatar' %>
                    <% end %>
                  </div>
                </div>
                <div class="ticket-card-options">
                  <%= link_to edit_ticket_path(ticket), class: 'trip-card-button' do %>
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                  <% end %>
                  <%= link_to ticket_path(ticket), class: 'trip-card-button', data: { turbo_method: :delete, turbo_confirm: 'Deseja deletar a passagem?' } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
                <h4 class="ticket-card-price"><%= number_to_currency ticket.price, unit: 'R$ ', precision: 2, separator: ',', delimiter: '.' %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="trip-section-empty">
            <p>Não há passagens adicionadas à sua viagem!</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-12 mb-8">
      <%# Accommodations %>
      <div class="trip-section">
        <h2>Acomodações</h2>
        <%= link_to new_trip_accommodation_path(@trip), class: 'trip-section-btn-add' do %>
          <i class="fa-solid fa-circle-plus fa-2xl btn-plus"></i>
        <% end %>
        <% if @trip.accommodations.present? %>
          <ul class="trip-card-group">
            <% @trip.accommodations.order(:updated_at).take(4).each do |accommodation| %>
              <li class="trip-accommodation-card">
                <div class="banner-accommodation" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))">
                  <% if accommodation.photo.attached? %>
                    <%= cl_image_tag(accommodation.photo.key, { alt: accommodation.name.titleize, class: 'img-fluid', style: 'width: 100%; height: 100%;', cloud_name: 'dmduttlvv' }) %>
                  <% else %>
                    <%= image_tag 'accommodation.jpeg', alt: 'Banner de acomodação', class: 'img-fluid' %>
                  <% end %>
                </div>
                <div class="ticket-card-options" style="font-size: 12px;">
                  <%= link_to edit_accommodation_path(accommodation), class: 'trip-card-button' do %>
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                  <% end %>
                  <%= link_to accommodation_path(accommodation), class: 'trip-card-button', data: { turbo_method: :delete, turbo_confirm: 'Deseja deletar a passagem?' } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
                <%= link_to accommodation_path(accommodation), class: 'text-dark text-decoration-none' do %><br>
                  <div class="row trip-accommodation-details">
                    <div class="col-6 col-md-6">
                      <h5 class="fw-bold"><%= accommodation.name.titleize %></h5>
                      <p><%= accommodation.category %></p>
                      <p><%= accommodation.capacity %> pessoas</p>
                      <% checkin_time = accommodation.checkin_time %>
                      <% checkout_time = accommodation.checkout_time %>
                      <% if checkin_time.present? && checkout_time.present? %>
                        <p><%= (checkout_time.to_date - checkin_time.to_date).to_i %> dias</p>
                      <% else %>
                        <p>Data não informada</p>
                      <% end %>
                      <p><%= link_to 'Visitar site', accommodation.url, target: '_blank', class: 'button-lg' %></p>
                    </div>
                    <div class="col-6 col-md-6">
                    </div>
                  </div>
                <hr>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
        <div class="trip-section-empty">
            <p>Não há acomodações adicionadas à sua viagem.</p>
          </div>
        <% end %>
      </div>
    </div>

    <%# Tasks %>
    <div class="col-12 col-md-5 mb-5">
      <div class="trip-section">
        <h2>Tarefas</h2>
        <button id="open-task-form-button" class="trip-section-btn-add">
          <i id="btn-task-plus" class="fa-solid fa-circle-plus fa-2xl btn-plus"></i>
        </button>
        <div id="add-task-form" class="d-none">
          <%= simple_form_for [@trip, @task], remote: true do |f|%>
            <%= f.input :description, as: :string,
                        label: 'Descrição da tarefa:',
                        class: 'form-control' %>
            <div class='input-group-append'>
              <%= f.submit 'Criar', class: 'button-lg-login' do %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @trip.tasks.present? %>
          <ul class="list-unstyled my-3 overflow-auto">
            <% @trip.tasks.order(:done, :description).each do |task| %>
              <li  class="mb-3">
                <div class="form-check" data-controller='task'>
                  <div class="post-it">
                    <div class="fold"></div>
                    <div class="content" style="max-width: 100%; word-wrap: break-word;">
                      <input class="form-check-input" type="checkbox" name="done" id="<%= "task-#{task.id}" %>"
                            <%= "checked" if task.done? %>
                            data-action="click->task#toggleDone"
                            data-task-target="checkbox"
                            data-id="<%= task.id %>">
                      <label data-task-target="label"
                            class="form-check-label"
                            for="<%= "task-#{task.id}" %>">
                            <% if task.done? %>
                              <s><%= task.description %></s>
                            <% else %>
                              <%= task.description %>
                            <% end %>
                      </label>
                      <%= link_to task_path(task), data: { turbo_method: :delete } do %>
                        <i class="fa-solid fa-trash-can"></i>
                      <% end %>

                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
        <div class="trip-section-empty">
          <p>Você não tem tarefas para esta viagem, <%= current_user.first_name %>.</p>
        </div>
        <% end %>
    </div>
  </div>
</div>

<%= render "members/modal", trip: @trip, member: @member %>
<script>
// Use JavaScript para mostrar/ocultar o formulário de criação de tarefa
  document.getElementById('open-task-form-button').addEventListener('click', (event) => {
    const formDiv = document.getElementById('add-task-form');

    formDiv.classList.toggle('d-none');
    if (formDiv.classList.contains('d-none')) {
      event.target.outerHTML = '<i id="btn-task-plus" class="fa-solid fa-circle-plus fa-2xl btn-plus"></i>'
    } else {
      event.target.outerHTML = '<i id="btn-task-minus" class="fa-solid fa-circle-minus btn-plus"></i>'
    }
  });
</script>
