<%# Trip banner %>
<div class="trip-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), <%= @trip.photo.present? ? "url('#{cl_image_path @trip.photo.key}')" : "asset-url('trip-banner-placeholder.jpg')" %>;">
<%# <div class="trip-banner"> %>
<%= link_to trips_path do %>
  <i class="fa-solid fa-arrow-left btn-white-round btn-back"></i>
<% end %>
<button type="button" class="btn-white-round btn-new-member" data-bs-toggle="modal" data-bs-target="#new_member_modal">
    <i class="fa-solid fa-user-plus"></i>
</button>
<h1 class="my-3"><%= @trip.name %></h1>
  <div class="row my-5 gy-3 justify-content-between">
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-solid fa-location-dot"></i>
        <p><%= @trip.destination %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-regular fa-calendar-days"></i>
        <p><%= "#{(@trip.end_date - @trip.start_date).to_i} dias" %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-solid fa-people-group"></i>
        <p><%= @trip.members.present? ? "#{@trip.members.count + 1} membros" : "Individual" %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="trip-banner-info">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <% if @trip.budget_per_user.present? %>
          <p><%= number_to_currency @trip.budget_per_user, unit: 'R$ ', precision: 2, separator: ',', delimiter: '.' %></p>
        <% else %>
          <p>Não informado</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%# Flex row between sections %>
  <div class="row gap-3">
    <div class="col-12 col-md-5">
      <%# Tickets %>
      <div class="trip-section">
        <h2><%= link_to 'Passagens', trip_tickets_path(@trip), class: 'text-decoration-none' %></h2>
        <%= link_to new_trip_ticket_path(@trip), class: 'trip-section-btn-add' do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        <% if @trip.tickets.present? %>
          <ul class="list-unstyled">
            <% @trip.tickets.order(:updated_at).take(2).each do |ticket| %>
              <li class="trip-ticket-card">
                <div class="ticket-card-location">
                  <div class="ticket-card-location-info">
                    <!-- Funciona melhor com a sigla do aeroporto -->
                    <p class="ticket-card-location-name"><%= ticket.origin.first(3) %></p>
                    <p class="ticket-card-location-time"><%= ticket.start_time.strftime("%H:%M") %></p>
                  </div>
                  <div>
                    <span><i class="fa-solid fa-plane"></i></span>
                    <p><%= "#{ticket.duration[:hours]}h" %><%= "#{ticket.duration[:minutes]}" unless ticket.duration[:minutes].blank? %></p>
                  </div>
                  <div class="ticket-card-location-info">
                    <p class="ticket-card-location-name"><%= ticket.destination.first(3) %></p>
                    <p class="ticket-card-location-time"><%= ticket.end_time.strftime("%H:%M") %></p>
                  </div>
                </div>
                <div class="ticket-card-details">
                  <div class="ticket-card-details-item">
                    <p><strong>Assento:</strong></p>
                    <p><%= ticket.seat || 'Não selecionado' %></p>
                  </div>
                  <div class="ticket-card-details-item">
                    <p><strong>Portão:</strong></p>
                    <p><%= ticket.gate || 'Não informado' %></p>
                  </div>
                </div>
                <!-- Essa div precisa ser editada pra ficar melhor no card -->
                <div class="ticket-card-user-info">
                  <p>Acidionado por:</p>
                  <%= image_tag 'user-placeholder.png', alt: current_user.first_name, class: 'avatar' %>
                </div>
                <div class="ticket-card-options">
                  <%= link_to edit_ticket_path(ticket), class: 'trip-card-button' do %>
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                  <% end %>
                  <%= link_to ticket_path(ticket), class: 'trip-card-button', data: { turbo_method: :delete, turbo_confirm: 'Deseja deletar a passagem?' } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
                <h4 class="ticket-card-price"><%= number_to_currency ticket.price, unit: 'R$ ', precision: 2, separator: ',', delimiter: '.' %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="trip-section-empty">
            <p>Não há passagens adicionadas à sua viagem.</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <%# Accommodations %>
      <div class="trip-section">
        <h2><%= link_to 'Acomodações', trip_accommodations_path(@trip), class: 'text-decoration-none' %></h2>
        <%= link_to new_trip_accommodation_path(@trip), class: 'trip-section-btn-add' do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
        <% if @trip.accommodations.present? %>
          <ul>
            <% @trip.accommodations.order(:updated_at).take(2).each do |accommodation| %>
              <li>
                <h5><%= accommodation.name %></h5>
                <p>Espaço para <%= accommodation.capacity %> pessoas</p>
                <p>Tipo: <%= accommodation.category %></p>
                <p><%= link_to 'Visitar site', accommodation.url, target: '_blank', class: 'btn btn-primary rounded-5' %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="trip-section-empty">
            <p>Não há acomodações adicionadas à sua viagem.</p>
          </div>
        <% end %>
      </div>
    </div>

    <%# Tasks %>
    <div class="col-12 col-md-5">
      <div class="trip-section">
        <h2>Tarefas</h2>
        <% if @trip.tasks.present? %>
          <ul class="list-unstyled my-3">
            <% @trip.tasks.order(:done, :description).each do |task| %>
              <li>
                <div class="form-check" data-controller='task'>
                  <input class="form-check-input" type="checkbox" name="done" id="<%= "task-#{task.id}" %>"
                        <%= "checked" if task.done? %>
                        data-action="click->task#toggleDone"
                        data-task-target="checkbox"
                        data-id="<%= task.id %>">
                  <label data-task-target="label"
                        class="form-check-label"
                        for="<%= "task-#{task.id}" %>">
                        <% if task.done? %>
                          <s><%= task.description %></s>
                        <% else %>
                          <%= task.description %>
                        <% end %>
                  </label>
                  <%= link_to task_path(task), data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
        <div class="trip-section-empty">
          <p>Você não tem tarefas para esta viagem, <%= current_user.first_name %>.</p>
        </div>
        <% end %>
        <%= simple_form_for [@trip, @task] do |f|%>
          <%= f.input :description, as: :string,
                      label: 'Descrição da tarefa:',
                      class: 'form-control' %>
          <div class='input-group-append'>
            <%= f.submit 'Criar', class: 'btn btn-primary rounded-5 shadow' do %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "members/modal", trip: @trip, member: @member %>
