<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card custom-card mt-2">
      <div class="card-header w-100">
        <h1 class="text-center">Alterar Acomodação</h1>
      </div>
      <div class="card-body w-100 p-2">
      <%= simple_form_for(@accommodation) do |form| %>
        <%= form.error_notification %>
        <%= form.input :url %>
        <%= form.input :checkin_time,
                        as: :string,
                        label_html: { class: "text-secondary" },
                        input_html: { data: { controller: "flatpickr" } }  %>
        <%= form.input :checkout_time,
                        as: :string,
                        label_html: { class: "text-secondary" },
                        input_html: { data: { controller: "flatpickr" } }  %>
        <%= form.input :category %>
        <%= form.input :capacity %>
        <%= form.input :price %>
        <%= form.input :name%>
        <%= form.input :address %>
        <%= form.input :photo, as: :file, label: 'Foto de capa', input_html: { multiple: false } %>
        <div class="actions">
          <%= form.button :submit, "Concluir", class: "btn btn-primary" %>
          <%= link_to "voltar para detalhes", trip_accommodations_path(@accommodation.trip), class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
