<style>
  .custom-card {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .card-header h1 {
    font-size: 24px;
  }

  .card-body {
    padding: 20px;
  }


  @media screen and (max-width: 767px) {
    .custom-card {
      width: 90%;
    }

    .card-header h1 {
      font-size: 20px;
    }

    .card-body {
      padding: 10px;
    }

    .form-control {
      font-size: 16px;
    }
  }
</style>



<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card custom-card">
      <div class="card-header">
        <h1 class="text-center">Alterar Acomodação</h1>
      </div>
      <div class="card-body p-3">
      <%= simple_form_for(@accommodation) do |form| %>
        <%= form.error_notification %>
        <%= form.input :url %>
        <%= form.input :checkin_time %>
        <%= form.input :checkout_time %>
        <%= form.input :category %>
        <%= form.input :capacity %>
        <%= form.input :price %>
        <%= form.input :name%>
        <%= form.input :address %>
        <div class="actions">
          <%= form.button :submit, "Concluir", class: "btn btn-primary" %>
          <%= link_to "voltar para detalhes", @accommodation, class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
