

<div class="container-sm">
  <div class="session-form">
    <div class="banner-form-accommodation">
        <h2 class="text-center">Alterar Acomodação</h2>
      </div>
      <div class="card-body w-100 p-3">
      <%= simple_form_for(@accommodation) do |form| %>
        <%= form.error_notification %>
        <%= form.input :url %>
        <%= form.input :checkin_time  %>
        <%= form.input :checkout_time  %>
        <%= form.input :category %>
        <%= form.input :capacity %>
        <%= form.input :price %>
        <%= form.input :name%>
        <%= form.input :address %>
        <%= form.input :photo, as: :file, label: 'Foto de capa', input_html: { multiple: false } %>

        <div class="form-actions">
          <%= form.button :submit, "Concluir", class: "button-lg-login" %>
          <%= link_to "Voltar", trip_path, class: "button-lg" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
