<style>
  .custom-card {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .card-header h1 {
    font-size: 24px;
  }

  .card-body {
    padding: 20px;
  }

  @media screen and (max-width: 767px) {
    .custom-card {
      width: 90%;
    }

    .card-header h1 {
      font-size: 20px;
    }

    .card-body {
      padding: 10px;
    }

    .form-control {
      font-size: 16px;
    }
  }
</style>
<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card custom-card">
      <div class="card-header">
        <h1 class="text-center">Nova Acomodação</h1>
      </div>
      <div class="card-body p-3">
        <%= simple_form_for [@trip, @accommodation], html: { class: 'form' } do |form| %>
          <%= form.error_notification %>
          <%= form.input :name, label: 'Nome' %>
          <%= form.input :address, label: 'Endereço' %>
          <%= form.input :price, label: 'Preço' %>
          <%= form.input :capacity, label: 'Capacidade' %>
          <%= form.input :category, label: 'Tipo' %>
          <%= form.input :checkin_time, label: 'Check-in' %>
          <%= form.input :checkout_time, label: 'Check-out' %>
          <%= form.input :url, label: 'URL' %>
          <%= form.button :submit, "Criar Acomodação", class: "btn btn-primary btn-block" %>
          <%= link_to "Voltar para Acomodações", trip_accommodations_path, class: "btn btn-secondary btn-block " %>
        <% end %>
      </div>
    </div>
  </div>
</div>
