

<div class="card mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), width: 100%; border-radius: 15px; background-color: #EBEBEB ">

   <div class="banner-accommodation" style="position: relative; ">
  <%= image_tag('accommodation.jpg', alt: 'Seu Banner', class: 'img-fluid', style: 'width: 100%; height: 100%;' ) %>
  <h4 class="display-7" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #ffffff;">Detalhes da Acomodação</h4>
</div>
  </div>
  <div class="container mt-4" style="border-radius: 15px; background-color: #EBEBEB;">
    <div class="card-body my-2">
      <p>
        Sua estadia em <strong><%= @accommodation.name.titleize %></strong>, ( <%= @accommodation.category %> ),
        localizada em <%= @accommodation.address %>, com capacidade para <%= @accommodation.capacity %> <%= @accommodation.capacity == 1 ? 'pessoa' : 'pessoas' %>,
        tem inicio em <%= @accommodation.checkin_time.strftime('%d/%m/%Y às %H:%M') %>.
        Com check-out previsto para <%= @accommodation.checkout_time.strftime('%d/%m/%Y às %H:%M') %>.
        O Valor total da reserva é </strong> R$ <%= number_to_currency(@accommodation.price, unit: "", separator: ",", delimiter: ".") %></p>.
        Você pode encontrar mais informações <a href="<%= @accommodation.url %>" target="_blank">aqui</a>.
      </p>
    </div>
  <br>
  <%= link_to "Editar acomodação", edit_accommodation_path(@accommodation), class: "btn btn-primary" %>
  <%= link_to "Voltar para Viagem", trip_path(@accommodation.trip), class: 'btn btn-primary' %>
</div>
