<div class="card">
  <div class="card-header">
    <h1>Edit Ticket</h1>
  </div>
  <div class="card-body">
    <%= simple_form_for(@ticket) do |form| %>
      <%= form.error_notification %>
      <%= form.input :url %>
      <%= form.input :start_time %>
      <%= form.input :end_time %>
      <%= form.input :origin %>
      <%= form.input :destination %>
      <%= form.input :seat, required: false %>
      <%= form.input :gate, required: false %>
      <%= form.input :price %>
      <%= form.input :company_name %>
      <div class="actions">
        <%= form.button :submit, "Update Ticket", class: "btn btn-primary" %>
        <%= link_to "Back to Ticket Details", @ticket, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
