<div class="pt-5 pb-5 rounded-2 shadow p-3 mt-3 bg-white rounded w-50">
  <div class="d-flex align-items-center">

      <%= image_tag "placeholder.jpg", width: 300, height: 300, crop: :fill %>

    <ul>
      <div>
        <h2 class="mb-5"><strong><%=  %></strong></h2>
        <h4><strong>Viagem: </strong><%=  %></h4>
        <h4><strong>Destino: </strong><%=  %></h4>
      </div>
    </ul>
  </div>
</div>
<div class="card">
  <div class="card-header">
  
    <h1>Ticket Details</h1>
  </div>
  <div class="card-body">
    <p><strong>URL:</strong> <a href="<%= @ticket.url %>" target="_blank"><%= @ticket.url %></a></p>
    <p><strong>Start Time:</strong> <%= @ticket.start_time %></p>
    <p><strong>End Time:</strong> <%= @ticket.end_time %></p>
    <p><strong>Origin:</strong> <%= @ticket.origin %></p>
    <p><strong>Destination:</strong> <%= @ticket.destination %></p>
    <p><strong>Seat:</strong> <%= @ticket.seat %></p>
    <p><strong>Gate:</strong> <%= @ticket.gate %></p>
    <p><strong>Price:</strong> <%= @ticket.price %></p>
    <p><strong>Company Name:</strong> <%= @ticket.company_name %></p>
  </div>
</div>
<%= link_to "Edit Ticket", edit_ticket_path(@ticket), class: "btn btn-primary" %>
<%= link_to "Back to Tickets", trip_tickets_path(@ticket.trip), class: "btn btn-primary" %>
