<div class="container-sm">
 <%= link_to trip_path(@ticket.trip) do %>
    <i class="fa-solid fa-arrow-left btn-grey-round btn-back"></i>
  <% end %>
	<div class="ticket airline">
		<div class="top">
			<div class="big">
				<p class="from"><%= @ticket.origin.first(3).upcase %><i class="fas fa-arrow-down"></i></p>
				<p class="to"><%= @ticket.destination.first(3).upcase %></p>
			</div>

			<div class="top--side">
				<i class="fas fa-plane"></i>
				<p><%= @ticket.origin.first(15).upcase %></p>
				<p><%= @ticket.destination.first(15).upcase %></p>
			</div>
		</div>

		<div class="bottom">
			<div class="column">
				<div class="roww row-1">
					<p><span>Voo</span>-</p>
					<p class="row--right"><span>Grupo</span>-</p>
				</div>
				<div class="roww row-2">
					<p><span>Embarque</span>-</p>
					<p class="row--center"><span>Partida</span><%= @ticket.start_time.strftime("%H:%M")%></p>
					<p class="row--right"><span>Chegada</span><%= @ticket.end_time.strftime("%H:%M") %></p>
				</div>
				<div class="roww row-3">
					<p><span>Passageiro</span><%= @ticket.user.first_name %></p>
					<p class="row--center"><span>Assento</span><%= @ticket.seat ? @ticket.seat.first(3).upcase : '' %></p>
					<p class="row--right"><span>Portão</span><%= @ticket.gate ? @ticket.gate.first(3).upcase : '' %></p>
				</div>
			</div>
			<div class="bar--code"></div>
		</div>
	</div>
</div>
